# PYTHON FOR DATA SCIENCE
## LECTURE 2
### DR DILEK CELIK

- Branching (Decision making)
- Taking Input from the user
- Operators

### if keyword

In [2]:
x = 15
if x > 5:
    print("x is greater")
print("Done.")

x is greater
Done.

### Indentation block

In [3]:
x = 12
y = 8
if x > y:
    print("x is greater")
print("Done.")

x is greater
Done.

In [4]:
x = 12
y = 8
if x > y:
print("Done.") # an error will be raised

IndentationError: expected an indented block (<ipython-input-4-009df52b421e>, line 4)

### Multiple conditions

In [6]:
# using logical and
x, y, z = 8, 9, 10
if z > x and z > y:
    print('z is greater')

z is greater

In [7]:
# using logical or
x, y, z = 8, 9, 10
if z > x or z > y:
    print('z is greater than x or y')

z is greater than x or y

In [8]:
# using logical not
x, y = 8, 9
if not(x > y) :
    print('x is not greater than y')

x is not greater than y

In [9]:
x = 15
y = 20
if x > y:
    print("x is greater")
else:
    print("y is greater")

y is greater

### elif keyword or chained conditions

In [10]:
mark = 80
if mark >= 70 and mark <= 100:
    print("Distinction")
elif mark < 70 and mark >= 60:
    print("Good")
elif mark < 60 and mark >= 50:
    print("Pass")
else:
    print("Fail")

Distinction

### Short hand if

In [11]:
a = 20
b = 20
if ( a == b ) : print ("a and b are equal")

a and b are equal

### Short hand If - Else in One Line

In [12]:
a = 2
b = 330
print("A") if a > b else print("B")

B

### Nested if-elif-else

In [15]:
x = int(input("Enter a number: "))
if x%2 == 0:
	if x%5 == 0:
		print ("divisible by 5 and 2")
	else:
		print ("divisible by 2 not divisible by 5")
else:
	if x%5 == 0:
		print ("divisible by 5 not divisible by 2")
	else:
		print ("not divisible by 2 not divisible by 5")

Enter a number: 10
divisible by 5 and 2

### Taking input from the user

In [16]:
user_input = input()
print("You entered" , user_input)

Dilek
You entered Dilek

In [17]:
# Adding a prompt message

user_input = input("Enter a value: ")
print("You entered" , user_input)

Enter a value: Celik
You entered Celik

### input() accepts strings by default

In [20]:
my_input = input()
print("You entered" , my_input)

my_input = int(input())
print("Total = ", 20 + my_input)

50
You entered 50
40
Total =  60

### Taking multiple inputs at a time

In [22]:
# taking three inputs at a time
a, b, c = input("Enter the three values: ").split()

print("Total number of students: ", a)
print("Number of Female students is : ", b)
print("Number of Male student is : ", c)

Enter the three values: 30 27 13
Total number of students:  30
Number of Female students is :  27
Number of Male student is :  13

### Arithmetic Operators

In [23]:
x = 15; y = 10; z = 0
z = x + y
print ("Line 1 - Value of z is ", z)

z = x - y
print ("Line 2 - Value of z is ", z)

z = x * y
print ("Line 3 - Value of z is ", z)

z = x / y
print ("Line 4 - Value of z is ", z)

z = x % y
print ("Line 5 - Value of z is ", z)

z = x**y
print ("Line 6 - Value of z is ", z)

z = x//y
print ("Line 7 - Value of z is ", z)

Line 1 - Value of z is  25
Line 2 - Value of z is  5
Line 3 - Value of z is  150
Line 4 - Value of z is  1.5
Line 5 - Value of z is  5
Line 6 - Value of z is  576650390625
Line 7 - Value of z is  1

### Comparison operators / Relational operators

In [24]:
a = 30
b = 10

print ("Line 1 - a is equal to b", a == b)
print ("Line 2 - a is not equal to b", a != b)
print ("Line 3 - a is less than b", a < b)
print ("Line 4 - a is greater than b", a > b)
print ("Line 5 – a is less than or equal to b", a <= b)
print ("Line 6 - a is greater than or equal to b", a >= b)

Line 1 - a is equal to b False
Line 2 - a is not equal to b True
Line 3 - a is less than b False
Line 4 - a is greater than b True
Line 5 – a is less than or equal to b False
Line 6 - a is greater than or equal to b True

### Common pitfall!

In [26]:
a = "30"
b = 10
print(a == b)

False

### Assignment operators

In [27]:
a, b, c = 10, 6, 0
c = a + b
print ("Line 1 - Value of c is ", c)
c += a
print ("Line 2 - Value of c is ", c)
c *= a
print ("Line 3 - Value of c is ", c)
c /= a
print ("Line 4 - Value of c is ", c)
c = 3
c %= a
print ("Line 5 - Value of c is ", c)
c **= a
print ("Line 6 - Value of c is ", c)
c //= a
print ("Line 7 - Value of c is ", c)

# Warning: the value of c is changing so be careful not to use the first value of c = 0

Line 1 - Value of c is  16
Line 2 - Value of c is  26
Line 3 - Value of c is  260
Line 4 - Value of c is  26.0
Line 5 - Value of c is  3
Line 6 - Value of c is  59049
Line 7 - Value of c is  5904

### Logical operators

In [28]:
x = True
y = False
print(x and y)
print(x or y)
print(not x)
print(not y)
print(not(x and y))

False
True
False
True
True

### Membership operators

In [30]:
a = "fort"
b = "nut"
my_string = "fortunately"
print(a in my_string)
print(b not in my_string)

True
True

### Identity operators

In [31]:
a = 20
b = 20
c = 40
print(a is b)
print(a is not c)

True
True

In [ ]:
### Operators precedence