In [2]:
# empty list
listA = []

# list of integers
listB = [5, 10, 20]

# list with mixed datatypes
listC = [20, "hello", 9.5]

print(listA)
print(listB)
print(listC)

[]
[5, 10, 20]
[20, 'hello', 9.5]

In [5]:
# access elements of a simple list
simpleList = [4, 'fine', 12.5, 'python', False]
print(simpleList[3])

python

In [6]:
nestedList = ["apple", [6, [20,40,60], 30], ['a']]
print(nestedList)

['apple', [6, [20, 40, 60], 30], ['a']]

In [8]:
# access elements of a nested list
nestedList = ["apple", [6, [20,40,60], 30], ['a']]
print(nestedList[1])
print((nestedList[1])[2])

[6, [20, 40, 60], 30]
30

In [9]:
myList =['h', 'e', 'l', 'l', 'o']
print(myList[-1])
print(myList[-2])

o
l

In [10]:
my_list = [5, 10, 15]
my_list[0] = 125
print(my_list)

[125, 10, 15]

In [12]:
chemicalList = ['Oxygen', 'Gold', 'Potassium', 'Silver', 'Barium']
for i in chemicalList:
    print(i)

Oxygen
Gold
Potassium
Silver
Barium

In [9]:
myList = ['England', 'America', 'Canada', 'Turkey', 'Japan', 'China', 'France']
# return the length of a list
print(len(myList))
# print the content of a list
print(myList)

7
['England', 'America', 'Canada', 'Turkey', 'Japan', 'China', 'France']

In [13]:
myList = ['England', 'America', 'Canada', 'Turkey', 'Japan', 'China', 'France']

# add an element
myList.append('Germany')
print(myList)

myList.insert(1, 'Spain')
print(myList)

['England', 'America', 'Canada', 'Turkey', 'Japan', 'China', 'France', 'Germany']
['England', 'Spain', 'America', 'Canada', 'Turkey', 'Japan', 'China', 'France', 'Germany']

In [14]:
myList = ['England', 'America', 'Canada', 'Turkey', 'Japan', 'China', 'France']


print(myList)
# sort a list in ascending order, the result is put in the initial list 'myList'
myList.sort()
print(myList)
# reverse a list, result put in initial list 'myList'
myList.reverse()
print(myList)

['England', 'America', 'Canada', 'Turkey', 'Japan', 'China', 'France']
['America', 'Canada', 'China', 'England', 'France', 'Japan', 'Turkey']
['Turkey', 'Japan', 'France', 'England', 'China', 'Canada', 'America']

In [15]:
myList = ['England', 'America', 'Canada', 'Turkey', 'Japan', 'China', 'France']

# return the number of occurences of an element of a list
print(myList.count('England'))

# return the lowest index of the element
# If not found, it raises a ValueError exception indicating the element is not in the list.
print(myList.index('Turkey'))

#print(myList.index('France')) # raises an error

1
3

In [17]:
myList = ['England', 'America', 'Canada', 'Turkey', 'Japan', 'China', 'France']

# clear a list - remove all its elements
myList.clear()
print(myList)

# delete entire list
del myList
#print(myList) # raises an error as no longer exists

[]

In [19]:
nList = [123, 33, 16, 400, 11]
print(min(nList))
print(max(nList))
print(sum(nList))

11
400
583

In [21]:
nList = [3, 5, 1, 20]
nList = nList.sort()
print(nList) # what happened?

None

In [25]:
# Using a for loop
doubles = []
for i in range(1,10):
    doubles.append(i*2)
print(doubles)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [26]:
# Using list comprehension
even = [i*2 for i in range(1,10)]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [27]:
dissimilarPairs = [(x,y) for x in [1,2,3] for y in [3,1,4] if x != y]
print(dissimilarPairs)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

### TUPLES

In [2]:
t1 = (3, 4, 5)
print(t1)

(3, 4, 5)

In [1]:
#They may be input with or without surrounding parentheses, although often parentheses 
#are necessary anyway (if the tuple is part of a larger expression).

t2 = 1, 2, 3
print(t2)

(1, 2, 3)

In [4]:
t3 = ('Hello', 44, (1, 2, 3))
print(t3)

('Hello', 44, (1, 2, 3))

In [6]:
t4 = (10, ['a', 'b', 'c'], 'world')
print(t4)

(10, ['a', 'b', 'c'], 'world')

In [9]:
# Empty tuple
tup1 = ()
print(tup1)

# Tuple for a single value
tup2 = (10,) # the comma is needed to distinguish between a tuple and a value surr ounded by parentheses
print(tup2)

()
(10,)

In [8]:
print(type(tup2))

<class 'tuple'>

In [10]:
x = ('Dell', 2000, 'Computing') # tuple packing
print(x)

('Dell', 2000, 'Computing')

In [11]:
(company, emp, activity) = x # tuple unpacking
print(company)
print(emp)
print(activity)

Dell
2000
Computing

In [12]:
myTuple = ('March', 10, 2021)
print(myTuple)
del myTuple
print(myTuple) # raise an error

('March', 10, 2021)

NameError: name 'myTuple' is not defined

### SETS

In [13]:
mySet = {'January', 'February', 'March'}
print(mySet)

anotherSet = set()

{'January', 'February', 'March'}

In [15]:
# Create a set from a list using the set() method
anotherSet = set(['a', 'b', 'c', 'b'])
print(anotherSet) # removes duplicates elements

{'a', 'b', 'c'}

In [16]:
mySet ={} # empty set
print(mySet)

{}

In [18]:
fruits = {'apple', 'banana', 'cherry', 'apple'}
print(fruits) # show that duplicates have been removed

print('banana' in fruits) # fast membership testing

print('cherry' in fruits)

{'cherry', 'apple', 'banana'}
True
True

In [21]:
# Demonstrate set operations on unique letters from two words
word1 = set('abracadabra')
word2 = set('alacazam')

print(word1) # unique letters in word1
#{'a', 'r', 'b', 'c', 'd’}

print(word1 - word2) # letters in a but not in word2
#{'r', 'd', 'b’}

print(word1 | word2) # letters in either word1 or word2
#{'a', 'c', 'r', 'd', 'b', 'm', 'z', 'l’}

print(word1 & word2) # letters in both word1 and word2
#{'a', 'c’}

print(word1 ^ word2) # letters in word1 or word2 but not both
#{'r', 'd', 'b', 'm', 'z', 'l'}

{'d', 'a', 'r', 'b', 'c'}
{'d', 'b', 'r'}
{'d', 'l', 'm', 'a', 'z', 'r', 'b', 'c'}
{'a', 'c'}
{'b', 'z', 'r', 'd', 'l', 'm'}

In [2]:
# create a dictionary
phoneBook = {'melissa': 1122, 'john': 3344}

# add an key:value pair to the dictionary
phoneBook['lisa'] = 1929
print(phoneBook)
print(phoneBook['melissa'])

# delete a key:value pair
del phoneBook['john']

# update the value of an existing key
phoneBook['lisa'] = 8899
print(phoneBook)

{'melissa': 1122, 'john': 3344, 'lisa': 1929}
1122
{'melissa': 1122, 'lisa': 8899}

In [26]:
# get list of keys
print(list(phoneBook.keys()))

# sort list of keys
print(sorted(phoneBook.keys()))

# test if key exists in dictionary
print('lisa' in phoneBook)

print('melissa' not in phoneBook)
#False

# sort list of values
print(sorted(phoneBook.values()))

['melissa', 'lisa', 'karen']
['karen', 'lisa', 'melissa']
True
False
[1122, 1929, 8899]